<li class="post-comment">
    <p class="commenter">
      <%= link_to comment.user do %>
        <%= gravatar_for(comment.user, size: 20) %>
        <%= comment.user.full_name %>
      <% end %>
    </p>
  <p class="comment-content">
    <%= comment.content %>
  </p>
  <%= form_with(model: [comment, Comment.new], local: true) do |f| %>
    <%= f.text_field :content, placeholder: "Add a reply..." %>
    <%= f.submit "Reply" %>
  <% end %>

  <ul>
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>
</li>
