<h2> Notifications </h2>

<%= will_paginate @notifications %>

<% @notifications.each do |n| %>
  <p class="notification">
    <%= link_to n.sender.full_name.titleize,
      user_path(n.sender), class: 'notification-sender' %>

    <%= n.action %>

    <%= link_to n.notifiable_type.downcase, n.notifiable, class: "notification-path" %>
  </p>
<% end %>

<%= will_paginate @notifications %>
