logged in as: <%= current_user.full_name %>

<h2> Other users </h2>

<% @users.each do |user| %>
  <p>
  <%= user.full_name %>
  <%= link_to "Add friend", friend_requests_path(friend_id: user.id), 
                            method: :post %>
  </p>
<% end %>

<h2> Friends </h2>

<% @friends.each do |friend| %>
  <p class="friend">
    <%= friend.full_name %>
    <%= link_to "Remove friend", friendship_path(friend, friend_id: friend.id), 
                                 method: :delete %>
  </p>
<% end %>

<h2> Pending Requests </h2>
<% @received_requests.each do |friend| %>
  <p class="friend">
    <%= friend.full_name %> 
    <%= link_to "Confirm", friendships_path(friend_id: friend), method: :post %>
    <%= link_to "Delete", friend_request_path(friend), method: :delete %>
  </p>
<% end %>

<h2> Sent requests </h2>
<% @sent_requests.each do |friend| %>
  <p>
  <%= friend.full_name %>
  <%= link_to "Cancel request", friend_request_path(friend), method: :delete %>
  </p>
<% end %>
