logged in as: <%= current_user.full_name %>

<h2> Other users </h2>

<% @users.each do |user| %>
  <p>
  <%= user.full_name %>
  <%= link_to "Send friend request", friend_requests_path(user), method: :post %>
  </p>
<% end %>

<h2> Friends </h2>

<% @friends.each do |friend| %>
  <p class="friend">
    <%= friend.full_name %> 
    <%= link_to "Remove friend", friend_requests_path(friend), method: :delete %>
  </p>
<% end %>

<h2> Pending Requests </h2>
<% @received_requests.each do |friend| %>
  <p class="friend">
    <%= friend.full_name %> 
    <%= link_to "Accept friend", friend_requests_path(friend), method: :post %>
  </p>
<% end %>
