logged in as: <%= current_user.full_name %>

<%# <h3> Friends </h2> %>

<%# <% @friends.each do |friend| %1> %>
<%#   <div class="friend"> %>
<%#     <%= friend.full_name %1> %> 
<%#     <%= link_to "Remove friend", "#" %1> %>
<%#   </div> %>
<%# <% end %1> %>

<%# <h2> Pending Requests </h2> %>
<%# <% @received_requests.each do |friend| %1> %>
<%#   <div class="friend"> %>
<%#     <%= friend.full_name %1> %> 
<%#     <%= link_to "Accept friend", "#" %1> %>
<%#   </div> %>
<%# <% end %1> %>
