logged in as: <%= current_user.full_name %>

<h2> Friends </h2>

<% @friends.each do |friend| %>
  <p class="friend">
    <%= friend.full_name %> 
    <%= link_to "Remove friend", "#" %>
  </p>
<% end %>

<h2> Pending Requests </h2>
<% @received_requests.each do |friend| %>
  <p class="friend">
    <%= friend.full_name %> 
    <%= link_to "Accept friend", "#" %>
  </p>
<% end %>
