<div class="user-show">
  <div class="column-1">
    <%= gravatar_for current_user, size: 150 %>
    <p class="user-name"><%= @user.full_name.titleize %></p>

    <% if @user == current_user %>

      <p class="gravatar-edit">
        <a href="http://gravatar.com/emails" target="_blank" rel="noopener">
          Change Profile Picture
        </a>
      </p>

      <p class="change-info">
        <%= link_to "Change information", edit_user_registration_path %>
      </p>
    <% end %>
  </div>
  <div class="column-2">
  <% if @post %>
    <%= render 'posts/form', post: @post %>
  <% end %>

  <%= render 'posts/feed', feed: @feed %>
  </div>

  <div class="column-3">
  </div>
</div>
