<h2> Pending Requests </h2>
<div class="pending-friends">
  <% pending_requests.each do |friend| %>
    <p class="friend">
      <%= link_to user_path(friend) do %>
        <%= gravatar_for(friend, size: 20) %>
        <%= friend.full_name.titleize %>
      <% end %>

      <span class="add-friend">
        <%= link_to "Confirm", friendships_path(friend_id: friend), method: :post %>
      </span>
      <span class="remove-friend">
        <%= link_to "Delete", friend_request_path(friend), method: :delete %>
      </span>
    </p>
  <% end %>
</div>
