
<div class="post-container">
  <div class="post-item">
    <p class="post-author-picture"></p>
    <p class="post-name"><%= post.author.full_name %></p>
    <p class="post-time"><%= time_ago_in_words(post.created_at).gsub("about ", "") + " ago" %></p>
    <p class="post-content"><%= post.content %></p>

    <%= render 'posts/counts', post: post %>
    <div class="post-links">
      <%= render 'posts/likes', post: post %>
      <%= render 'posts/comment_form', post: post %>
    </div>

    <div class="post-comments">
    </div>
  </div>

</div>
