
<div class="post-container">
  <div class="post-item">
    <p class="post-author-picture"></p>
    <p class="post-name"><%= post.author.full_name %></p>
    <p class="post-time"><%= created_time(post) %></p>
    <p class="post-content"><%= post.content %></p>

    <div class="post-counts">
      <p class="post-likes-count" id="post_<%= post.id %>_likes_count">
          <%= render 'likes/count', post: post %>
      </p>
      <p class="post-comments-count" id="post_<%= post.id %>_comments_count">
        <%= render 'comments/count', post: post %>
      </p>
    </div>

    <div class="post-links">
      <p id="post_<%= post.id %>_likes" class="post-like-link">
        <%= render 'likes/like', post: post %>
      </p>
      <div id="post_<%= post.id %>_comment_form" class="post-write-comment">
        <%= render 'comments/form', post: post %>
      </div>
    </div>
  </div>
</div>
