
<div class="post-container">
  <div class="post-item">
    <p class="post-author-picture"></p>
    <p class="post-name"><%= post.author.full_name %></p>
    <p class="post-time"><%= time_ago_in_words(post.created_at).gsub("about ", "") + " ago" %></p>
    <p class="post-content"><%= post.content %></p>
    <div class="post-counts">
      <p class="post-likes-count">
        <%# <% if post.likes.count > 0 %1> %>
          <a class="small-thumbs-up"><%= fa_icon 'thumbs-up' %></a>
          <a><%= post.likes.count %></a>
          <%# <% end %1> %>
      </p>
      <p class="post-comments-count"
        <%# <% if post.comments.count > 0 %1> %>
          <a><%= post.comments.count %></a><span> Comments </span>

          <%# <% end %1> %>
      </p>
    </div>
    <div class="post-links">
      <p class="post-like-link">
        <% if user_signed_in? && current_user.likes?(post) %>
          <%= link_to "Unlike", post_like_path(post_id: post, id: post.id), method: :delete, remote: true %>
        <% else %>
          <%= link_to "Like", post_likes_path(post), method: :post, remote: true %>
        <% end %>
      </p>
      <div class="post-write-comment">
        <%= fa_icon "comment"  %>
        Comment
      </div>
    </div>

    <div class="post-comments">
    </div>
  </div>

</div>
