<%= form_with(url: user_session_path, local: true, class: 'login-form') do |f| %>
  <div class="login-selection">
    <%= f.label :email, class: 'login-label' %>
    <%= f.email_field :email, class: 'login-field' %>
  </div>

  <div class="login-selection">
    <%= f.label :password, class: 'login-label' %>
    <%= f.password_field :password, class: 'login-field' %>
  </div>

  <%= f.submit "Log In", class: "btn" %>
<% end %>
