<%= form_with(model: User.new, url: '/signup', local: true, class: "signup-form") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.email_field :email, class: 'signup-field', placeholder: "Email" %>

  <%= f.password_field :password, class: 'signup-field', placeholder: "Password" %>

  <%= f.password_field :password_confirmation, class: 'signup-field', placeholder: "Password confirmation" %>

  <div class="signup-btn">
  </div>
<% end %>
