<!DOCTYPE html>
<html>
  <head>
    <title>ParamagicBook</title>
    <%= render 'shared/metadata' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert alert-info"><%= alert %></p>
      <%= yield %>
    </div>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
