<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= render 'shared/metadata' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <%= render 'shared/flash_messages' %>
      <%= yield %>
      <%# <%= render 'layouts/footer' %1> %>

    </div>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
