<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field signup-name">
    <%= f.text_field :first_name, 
      class: 'signup-field first-name', 
      placeholder: "First name", size: 14 %>
    <%= f.text_field :last_name, 
      class: 'signup-field last-name', 
      placeholder: "Last name", size: 14 %>
  </div>

  <div class="field">
    <%= f.email_field :email, 
      class: 'signup-field', placeholder: "Email", size: 36 %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, 
      class: 'signup-field', placeholder: "Password", size: 36 %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, 
      class: 'signup-field', 
      placeholder: "Password Confirmation", size: 36 %>
  </div>

  <div class="gender field">
    <p class="gender-label">Gender</p> 
    <% User.genders.each do |gender| %>
      <%= f.radio_button :gender, gender %>
      <%= f.label :gender, gender.capitalize %>
    <% end %>
  </div>

  <div class="birthday field">
    <p class="birthday-label"> Birthday </p>
    <%= f.date_select(:birthday, 
                    order: [:month, :day, :year],
                    default: Date.today,
                    use_short_month: true,
                    start_year: Date.today.year - 100,
                    end_year: Date.today.year) %>
  </div>
  <div class="signup-btn actions">
    <%= f.submit "Signup", class: "btn btn-green" %>
  </div>
<% end %>
